.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    border-radius: 8px; /* Para bordes redondeados */
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(0.7); /* Oscurecer imagen */
  }
  
  .image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 118px -118px 106px -27px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 118px -118px 106px -27px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 118px -118px 106px -27px rgba(0,0,0,0.75) inset;
    pointer-events: none; /* No bloquear la interacción */
  }
  .responsive-iframe {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Para 16:9 (9 / 16 = 0.5625) */
    overflow: hidden;
  }
  
  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  